<form>
  <p>Team Name: <input type="text"></p>
  <p>Team Motto: <input type="text"><p>
  <input type="submit">
</form>

<h1>Hero 1</h1>

<form>
  <p>Hero's Name: <input type="text"><p>
  <p>Hero's Power: <input type="text"><p>
  <p>Hero's Biography: <input type="text"><p>
  <input type="submit">
</form>

<h1>Hero 2</h1>

<form>
  <p>Hero's Name: <input type="text"><p>
  <p>Hero's Power: <input type="text"><p>
  <p>Hero's Biography: <input type="text"><p>
  <input type="submit">
</form>

<h1>Hero 3 </h1>

<form>
  <p>Hero's Name: <input type="text"><p>
  <p>Hero's Power: <input type="text"><p>
  <p>Hero's Biography: <input type="text"><p>
  <input type="submit">
</form>
